includes:
    - ./vendor/phpstan/phpstan/conf/config.levelmax.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    ignoreErrors:
        - "/Call to an undefined method Symfony\\\\Component\\\\HttpFoundation\\\\Cookie::(?:getSameSite|isRaw)\\(\\)\\./"
        - "/Call to an undefined static method Symfony\\\\Component\\\\Console\\\\Command\\\\Command::getDefaultName\\(\\)\\./"
        - "/Class Symfony\\\\Component\\\\HttpKernel\\\\Controller\\\\ArgumentResolver not found\\./"
        - "/Instantiated class Symfony\\\\Component\\\\HttpKernel\\\\Controller\\\\ArgumentResolver not found\\./"
